<div class="escape">
  <mat-card class="escape-card">
    <mat-card-header>
      <mat-card-title>Escape room</mat-card-title>
      <mat-card-subtitle>Where the idea came from</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Escape room is s a game in which a team of players cooperatively
        discover clues, solve puzzles, and accomplish tasks in order to escape
        from the site of the game.
      </p>
      <p>
        This can be in one or more rooms and the time is limited. ​
      </p>
    </mat-card-content>
  </mat-card>
</div>
