<mat-toolbar color="primary">
  <!-- Title -->
  <mat-toolbar-row>
    <h2>{{ 'ETC_title' | translate | uppercase }}</h2>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <!-- Menu -->
    <!-- TODO use mat-icon with fontSet fontawesome or fa-icon ?? -->
    <!-- <mat-icon fontSet="fa" fontIcon="fa-home"></mat-icon> -->

    <a class="icon-style" routerLink="/home"><fa-icon [icon]="homeIcon"></fa-icon></a>

    <button color="accent" mat-button [matMenuTriggerFor]="concept">
      The concept
    </button>
    <mat-menu #concept="matMenu">
      <a color="accent" mat-menu-item routerLink="/concept">What is this ?</a>
      <a color="accent" mat-menu-item routerLink="/escape">Escape room</a>
    </mat-menu>

    <a mat-button color="accent" routerLink="/creator">The creator</a>
    <a mat-button color="accent" routerLink="/booking">Book and play</a>
  </mat-toolbar-row>
</mat-toolbar>
