<mat-toolbar color="primary">
  <!-- Title -->
  <mat-toolbar-row>
    <span>{{ 'ETC_title' | translate | uppercase }}</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <!-- Menu -->
    <!-- TODO use mat-icon with fontSet fontawesome or fa-icon ?? -->
    <!-- <mat-icon fontSet="fa" fontIcon="fa-home"></mat-icon> -->

    <a class="icon-style" routerLink="/home"
      ><fa-icon [icon]="homeIcon"></fa-icon
    ></a>

    <button mat-button [matMenuTriggerFor]="concept">The concept</button>
    <mat-menu #concept="matMenu">
      <a mat-button routerLink="/concept">What is this ?</a>
      <button mat-menu-item>Why should I play ?</button>
      <button mat-menu-item>Escape room</button>
    </mat-menu>

    <a mat-button routerLink="/creator">The creator</a>
    <a mat-button routerLink="/booking">Book and play</a>
  </mat-toolbar-row>
</mat-toolbar>
