<mat-toolbar color="primary">
  <!-- Title -->
  <mat-toolbar-row>
    <span>{{ 'ETC_title' | translate | uppercase }}</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <!-- Menu -->
    <!-- TODO use mat-icon with fontSet fontawesome or fa-icon ?? -->
    <!-- <mat-icon fontSet="fa" fontIcon="fa-home"></mat-icon> -->
    <fa-icon [icon]="homeIcon"></fa-icon>

    <button mat-button [matMenuTriggerFor]="concept">The concept</button>
    <mat-menu #concept="matMenu">
      <button mat-menu-item>What is this ?</button>
      <button mat-menu-item>Why should I play ?</button>
      <button mat-menu-item>Escape room</button>
    </mat-menu>

    <button mat-button>The creator</button>
    <button mat-button>Book and play</button>
  </mat-toolbar-row>
</mat-toolbar>
