<h1 fxLayoutAlign="center">{{ 'FEEDBACKS' | translate }}</h1>
<section fxLayoutAlign="center">
  <section fxFlex.gt-sm="0 0 500px" fxFlex>
    <mat-card *ngFor="let feedback of feedbacks | async">
      <mat-card-header fxLayoutAlign="flex-end">
        <mat-card-title>{{ feedback.name }}</mat-card-title>
        <mat-card-subtitle>01/01/2020</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="flex-start">
        <p>
          {{ feedback.comment }}
        </p>
      </mat-card-content>
    </mat-card>
  </section>
</section>
