<mat-toolbar fxFlexOffset="auto" color="primary">
  <div>
    <a color="warn" target="_blank" href="http://www.facebook.com"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>

    <mat-icon fontIcon="fa-home"></mat-icon>
  </div>
</mat-toolbar>

<!-- <mat-toolbar color="primary" class="mat-elevation-z1">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutGap="10px">
      <a href=""><i class="fas fa-linkedin" style="color: #0077B5"></i></a>
      <a href=""><i class="fas fa-viadeo-square"></i></a>
      <a href=""><i class="fas fa-twitter-square" style="color: #0084b4"></i></a>
      <a href=""><i class="fas fa-facebook-square" style="color: #3B5998"></i></a>
      <a href=""><i class="fas fa-google-plus-square" style="color :#d34836"></i></a>
    </div>
    <div fxLayout="row">
      <a href="" style="color: white">Conditions générales</a>
      <a href="" style="color: white">Politique de confidentialité</a>
    </div>
  </div>
</mat-toolbar> -->
