<div class="concept">
  <mat-card class="concept-card">
    <mat-card-header>
      <mat-card-title>{{ 'CONCEPT' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'WHAT_IS_THIS' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ 'CONCEPT_DESCRIPTION' | translate }}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="concept-card">
    <mat-card-header>
      <mat-card-title>{{ 'WHY_PLAY' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'REGRET' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ 'WHY_DESCRIPTION' | translate }}</p>
    </mat-card-content>
  </mat-card>
</div>
