<div class="concept">
  <mat-card class="concept-card">
    <mat-card-header>
      <mat-card-title>The concept</mat-card-title>
      <mat-card-subtitle>What is this ?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I've designed and built a box based on the escape rooms to play with it,
        solve different puzzles, clues, padlock...
      </p>
      <p>
        The goal: solve everything and open the box within one hour of time.
      </p>
      <p>
        If you succeed you will have your reward.
      </p>
      <p>
        The box is for adults (over 18) and it is recommended for 2 to 4 people.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="concept-card">
    <mat-card-header>
      <mat-card-title>Why should I play ?</mat-card-title>
      <mat-card-subtitle>You won't regret</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Because it is a great plan on a rainy day at home, on a sunny day at the
        park or in the night before you go to the pub/bed. It´s one hour of
        entertainment, solving different puzzles and cooperating with your
        teammates (friends, partner, family…).
      </p>
      ​
      <p>
        Because with my box you don´t have to worry about where the location is,
        where you can park the car or get there by public transport because I
        can deliver it to your home! You can order some pizzas and I will bring
        you my box to play. ​
      </p>

      <p>
        Because I have built the box myself and I have put much effort and love
        and I will appreciate it so much.
      </p>
    </mat-card-content>
  </mat-card>
</div>
