<div class="home">
  <mat-card class="home-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Welcome to escape the cube</mat-card-title>
      <mat-card-subtitle>Where the idea came from</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/escapethecube_logo.png" alt="Escape the cube" />
    <mat-card-content>
      <p>
        Imagine a cube, a box of 25cm each side with a lid on top. On each side, you have different puzzles, padlocks, and riddles, all
        connected to let you open the box and be able to stop the clock. Everything is linked by a story and you will have to connect it
        all. You can have different puzzles, such as build something with pieces, open a secret door or use any prop to solve the padlock. ​
        Don´t worry if you are stuck, cause you have 3 different help cards for each puzzle. Are you ready for the challenge? If you would
        like to know more...
      </p>
      <!-- TODO link to booking -->
      <p>Book it and play !</p>
    </mat-card-content>
  </mat-card>
</div>
