<div class="home">
  <mat-card class="home-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{ 'WELCOME' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'IDEA' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/escapethecube_image.png" alt="Escape the cube" />
    <mat-card-content>
      <p>
        {{ 'HOME_DESCRIPTION' | translate }}
      </p>
      <a routerLink="/booking">{{ 'BOOKING.BOOK' | translate }}</a>
    </mat-card-content>
  </mat-card>
</div>
