<div class="booking">
  <mat-card class="booking-card">
    <!-- <mat-card-header>
      <mat-card-title>Book and play</mat-card-title>
      <mat-card-subtitle>How ?</mat-card-subtitle>
    </mat-card-header> -->
    <mat-card-content>
      Send me an email to ines1691@gmail.com answering the next steps and I will
      confirm you the availability

      <mat-list>
        <mat-list-item>WHERE</mat-list-item>
        <p>
          I come to you. I can deliver the box to your home. If it is an outdoor
          space you have to make sure that you keep all the elements safe and
          nothing flies away or it's bitten by your dog.
        </p>

        <mat-divider></mat-divider>

        <mat-list-item>WHEN</mat-list-item>
        <p>
          Let me know at least 3 hours before you want to play and I would try
          my best to find you the availability.
        </p>
        <mat-divider></mat-divider>
        <mat-list-item>HOW MUCH</mat-list-item>
        <p>
          Monday to Thursday $40 per box. Friday to Sunday $50 per box. * plus a
          bond in case of misuse.
        </p>
        <mat-divider></mat-divider>

        <mat-list-item>HOW MANY</mat-list-item>
        <p>
          ​It is recommended for 2 to 4 people. Tell me how many people are
          going to play.
        </p>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
