<div class="booking">
  <mat-card class="booking-card">
    <!-- <mat-card-header>
      <mat-card-title>Book and play</mat-card-title>
      <mat-card-subtitle>How ?</mat-card-subtitle>
    </mat-card-header> -->
    <mat-card-content>
      {{ 'BOOKING.EMAIL' | translate }}
      (ines1691@gmail.com)
      <mat-list>
        <mat-list-item>{{ 'WHERE' | translate | uppercase }}</mat-list-item>
        <p>
          {{ 'BOOKING.WHERE' | translate }}
        </p>

        <mat-divider></mat-divider>

        <mat-list-item>{{ 'WHEN' | translate | uppercase }}</mat-list-item>
        <p>
          {{ 'BOOKING.WHEN' | translate | uppercase }}
        </p>
        <mat-divider></mat-divider>
        <mat-list-item>{{ 'HOW_MUCH' | translate }}</mat-list-item>
        <p>
          {{ 'BOOKING.HOW_MUCH' | translate }}
        </p>
        <mat-divider></mat-divider>

        <mat-list-item>{{ 'HOW_MANY' | translate | uppercase }}</mat-list-item>
        <p>{{ 'BOOKING.HOW_MANY' | translate }}</p>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
