<div class="creator">
  <mat-card class="creator-card">
    <mat-card-header>
      <div mat-card-avatar class="creator-header-image"></div>
      <mat-card-title>Inés Pérez</mat-card-title>
      <mat-card-subtitle>The creator</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I'm the hands and mind of the game.
      </p>
      <p>
        I love escape rooms and I wanted like to create something portable to
        enjoy at home with your friends or family.
      </p>
      <p>
        I have created the box with some recycled materials, cardboards, a
        little bit of wood, scissors and a cutter. I created the ideas for the
        puzzles and watched some videos and ideas on the internet to create a
        variation.
      </p>
      <p>
        I was trying to show to myself that I can make something good and be
        able to start a new "business".
      </p>
      <p>
        So I really hope you enjoy the game and of course I appreciate all the
        feedback.
      </p>
    </mat-card-content>
  </mat-card>
</div>
