<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Ines Perez</mat-card-title>
    <mat-card-subtitle>The creator</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/img/creator.webpg" alt="Ines Perez" />
  <mat-card-content>
    <p>
      I´m the hands and mind of the game. I love escape rooms and I would like
      to create something portable to enjoy at home with your friends or family.
      I created the box with some recycled materials, cardboards, a little bit
      of wood, scissors and a cutter. I created the ideas for the puzzles and
      watched some videos and ideas on the internet to create a variation. I was
      trying to show to myself that I can make something good and be able to
      start a new "business". So I really hope you enjoy the game and of course
      I appreciate all the feedback =)
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
