// Custom Theming for Angular Material
// For Escape the cube application
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Include this only once in your app
@include mat-core();

// color, default, lighter, darker
$etc-theme-primary: mat-palette($mat-yellow, A700, A200, A400);
$etc-theme-accent: mat-palette($mat-indigo);
$etc-theme-warn: mat-palette($mat-deep-orange, 300);

$etc-theme: mat-light-theme($etc-theme-primary, $etc-theme-accent, $etc-theme-warn);

// Main theme that will be used
@include angular-material-theme($etc-theme);

// Alternate theme
.etc-alternate-theme {
  $etc-alternate-primary: mat-palette($mat-amber);
  $etc-alternate-accent: mat-palette($mat-teal);
  $etc-alternate-warn: mat-palette($mat-red);

  $etc-alternate-theme: mat-light-theme($etc-alternate-primary, $etc-alternate-accent, $etc-alternate-warn);

  @include angular-material-theme($etc-alternate-theme);
}

// Typographie

// Define a custom typography config that overrides the font-family
$etc-typography: mat-typography-config(
  $font-family: 'Special Elite, cursive',
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($etc-typography);
